default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-merge-commit
  - prepare-commit-msg
  - pre-push

repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
        stages: [commit-msg]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.36.0
    hooks:
      - id: check-github-actions
      - id: check-github-workflows

  - repo: local
    hooks:
      - id: stylua_check
        name: Stylua Check
        entry: stylua
        language: system
        pass_filenames: true
        types_or: [lua]
        stages: [pre-commit]
