name: CI

on:
  push:
    branches: ["main"]

jobs:
  test:
    uses: ./.github/workflows/test.yml

  release:
    if: github.ref == 'refs/heads/main'
    needs: test
    name: release
    permissions:
      contents: write
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx -p @semantic-release/release-notes-generator -p conventional-changelog-conventionalcommits semantic-release
  push-to-luarocks:
    needs: release
    uses: ./.github/workflows/luarocks.yml
    secrets:
      LUAROCKS_API_KEY: ${{ secrets.LUAROCKS_API_KEY }}
