name: CI

on:
  schedule:
    - cron: "00 00 * * 4" # every friday at 00:00
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        nvim-version: [stable, nightly]
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.nvim-version }}

      - name: Make install
        run: make install
        timeout-minutes: 2

      - name: Run tests
        run: make test
        timeout-minutes: 1

  release:
    if: github.ref == 'refs/heads/main'
    needs: build
    name: release
    permissions:
      contents: write
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx -p @semantic-release/release-notes-generator semantic-release
  push-to-luarocks:
    needs: release
    uses: ./.github/workflows/luarocks.yml
    secrets:
      LUAROCKS_API_KEY: ${{ secrets.LUAROCKS_API_KEY }}
