---
name: Push to Luarocks

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      LUAROCKS_API_KEY:
        required: true

jobs:
  check_tag:
    runs-on: ubuntu-22.04
    outputs:
      has_tag: ${{ steps.out.outputs.has_tag }}
      tag: ${{ steps.out.outputs.tag }}
    steps:
      - uses: actions/checkout@v6
        with: { fetch-depth: 0 }
      - id: out
        run: |
          TAGS="$(git tag --points-at HEAD)"
          if [ -z "$TAGS" ]; then
            echo "has_tag=false" >> "$GITHUB_OUTPUT"
            echo "tag=" >> "$GITHUB_OUTPUT"
            echo "No tag on HEAD"
          else
            # If multiple tags point to HEAD, pick the first
            TAG="$(echo "$TAGS" | head -n1)"
            echo "has_tag=true" >> "$GITHUB_OUTPUT"
            echo "tag=$TAG" >> "$GITHUB_OUTPUT"
            echo "Tag on HEAD: $TAG"
          fi

  luarocks-upload:
    needs: check_tag
    if: needs.check_tag.outputs.has_tag == 'true'
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
        with: { fetch-depth: 0 }

      - name: Set Version
        run: echo "LUAROCKS_VERSION=${{ needs.check_tag.outputs.tag }}" >> $GITHUB_ENV

      - name: Install C/C++ Compiler
        uses: rlalik/setup-cpp-compiler@master
        with:
          compiler: clang-latest

      - name: Install tree-sitter CLI
        uses: baptiste0928/cargo-install@v3
        with:
          crate: tree-sitter-cli

      - name: LuaRocks Upload
        uses: nvim-neorocks/luarocks-tag-release@v7
        env:
          LUAROCKS_API_KEY: ${{ secrets.LUAROCKS_API_KEY }}
        with:
          version: ${{ env.LUAROCKS_VERSION }}
          dependencies: |
            neotest
            plenary.nvim
            nvim-nio
            tree-sitter-java
            nvim-dap
            nvim-dap-ui
