name: PR Conventional Commit Validation

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  validate-pr-title:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: PR Conventional Commit Validation
        uses: ytanikin/pr-conventional-commits@1.5.1
        with:
          add_label: false
          task_types: '["feat","fix","docs","test","ci","refactor","perf","chore","revert"]'
