name: CI

on:
  schedule:
    - cron: "00 00 * * 4" # every friday at 00:00
  pull_request:
    branches: ["main"]
  workflow_call:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        nvim-version: [stable, nightly]
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.nvim-version }}

      - name: Make install
        run: make install
        timeout-minutes: 1

      - name: Run tests
        run: make test
        timeout-minutes: 1
